
@{
    ViewBag.Title = "CalBack";
    Layout = null;
}
<script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
<h2>Quá trình đăng nhập đang xử lý </h2>
<script type="text/javascript">
    var inputRegist = { LoginType: 2, AccessToken: '@ViewBag.Token', DeviceId: 'web', DeviceType: 1, ReferUrl: '@ViewBag.UrlRegister' };

    $.ajax({
        type: "POST",
        url: "@ViewBag.PortalURl",
        data: JSON.stringify(inputRegist),
        contentType: "application/json; charset=utf-8",
        crossDomain: true,
        xhrFields: {
            withCredentials: true
        },
        dataType: 'json',
        success: function (data) {
            if(data.ResponseCode == 1) {
                location.href = '@ViewBag.Redirect'+"?access_token=" + data.Token;
            }else {
               
            }
        },
        fail: function (fail) {
            console.log("Loi");
        }
    });
     
   
</script>
