<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="ROOT_URL" value="http://localhost:37261" />
    <add key="SSO_RETURN_URL" value="http://localhost:1099/" />
    <add key="SSO_CONTINUE_URL" value="http://localhost:1099/Authen.aspx" />
    <add key="GAMEID" value="1,2" />
    <add key="GAMENAME" value="Tam Quốc Xèng,Chúa Đảo" />
    <add key="GAMECLASS" value="tamquocxeng,chuadao" />
    <add key="GAMEURL" value="//sicbet.com/tqx/,//sicbet.com/chuadao" />
    <add key="AVATARDIR" value="D:\Project\newslot\game-dbit\WebGame.Play\MsWebGame.Portal\Contents\Avatars" />
    <add key="GAMECONFIG" value="1:Island;2:ThreeKingdom;3:Maya;4:Genie;5:Zombie;6:HighLow;7:StarKingdom;8:LuckyDice;9:Minipocker" />
    <!--alow config-->
    <add key="NOTALOWSTRING" value="deo,dit,địt,đéo,lồn,chich,chịch,xoạc,xoac,tèo,phangteo,ditmemay,ditbomay,cumay,kecumay,cặc" />
    <add key="AllowedDomains" value="http://localhost:8000,https://sicbet.com,http://localhost:7456,https://play.sicbet.com,https://play.luy88.com,http://play.luy88.com,https://dev.sicbet.com,https://dev.luy88.com,http://dev.luy88.com,https://play.navip1.com,http://play.navip1.com" />
    <!-- opt config-->
    <add key="AZTechUserName" value="**password**" />
    <add key="AZTechPass" value="**password**" />
    <add key="AZTechBrandName" value="**password**" />
    <!--redis config-->
    <add key="redis_host" value="localhost" />
    <add key="redis_port" value="6379" />
    <add key="redis_password" value="" />
    <add key="redis_database" value="1" />
    <!--sms otp-->
    <add key="OTP_SMSMobile_URL" value="http://sms.mobiservices.vn/smsapi/sendmt" />
    <add key="OTP_SMSMobile_User" value="ga30" />
    <add key="OTP_SMSMobile_PASSWORD" value="ga(..)123" />
    <add key="OTP_SMSMobile_BRANCHNAME" value="**password**" />
    <!--card charging HDP-->
    <add key="HDP_CHARGING_URL" value="http://45.76.161.80:8899/checkcard" />
    <add key="HDP_USERNAME" value="g63" />
    <add key="HDP_PASSWORD" value="g63" />
    <add key="HDP_URL_CALLBACK" value="**password**" />
    <!--card charging p1-->
    <add key="CARD_CHARGING_URL" value="https://happy-api.thanhtoancuoctrasau.com/api/CardCallBack/CreateCardRequest/?" />
    <add key="CARD_NCCCODE" value="**password**" />
    <add key="CARD_GAMECODE" value="**password**" />
    <add key="CARD_SECREATEKEY" value="**password**" />
    <add key="CARD_ACCESSKEY" value="**password**" />
    <!--vina card charging-->
    <add key="VINA_CARD_CHARGING_URL" value="http://210.245.87.142:8001/service.aspx" />
    <add key="VINA_SECRETEKEY" value="**password**" />
    <add key="VINA_IDCP" value="**password**" />
    <add key="VINA_TELCO" value="**password**" />
    <!--mobile card charging-->
    <add key="MOBILE_CHARGING_URL" value="http://naptienthecao.com/card/input" />
    <add key="MOBILE_USERNAME" value="ibom" />
    <add key="MOBILE_PASSWORD" value="ibom@6666" />
    <!--OTP -->
    <add key="OTP_MSG" value="{0}" />
    <!--Cookies Domain-->
    <add key="COOKIE_DOMAIN" value="sicbet.com" />
    <!--OPT APP VERIFY-->
    <add key="OTP_APP_VERIFY_URL" value="https://totp.sicbet.com/" />
    <!--Có cho nạp két hay không  -->
    <add key="AddToSafe_APPROVED" value="1" />
    <!--Có cho rút két hay ko  -->
    <add key="WithDraw_APPROVED" value="1" />
    
    <!--có cho đổi VP hay không-->
    <add key="VP_APPROVED" value="1" />
    <!-- có cho nạp thẻ hay không-->
    <add key="Charge_APPROVED" value="1" />
    <!-- có cho nạp thẻ hay không-->
    <add key="UserTranfer_APPROVED" value="1" />
    <add key="OTP_APPROVED" value="1" />
    <!-- có đang chạy anpha hay ko-->
    <add key="IS_ANPHA" value="1" />
    <!--Nạp Thẻ SHOP MUA THẺ P5-->
    <add key="SHOPMUATHE_URl" value="https://apicard.nhanthe.shop/VPGJsonService.ashx" />
    <add key="SHOPMUATHE_OFF" value="1" />
    <add key="SHOPMUATHE_KEY" value="**password**" />
    <add key="SHOPMUATHE_PARTNERCODE" value="**password**" />
    <add key="SHOPMUATHE_CallBackUrl" value="https://napthe.sicbet.com/api/CardThuMuaThe/CallBackResult" />
    <!--P4 Card Charging-->
    <add key="CARD_CHARGING_URL_P4" value="https://smile-api.thanhtoancuoctrasau.com/api/CardCallBack/CreateCardRequest/?" />
    <add key="CARD_NCCCODE_P4" value="**password**" />
    <add key="CARD_GAMECODE_P4" value="**password**" />
    <add key="CARD_SECREATEKEY_P4" value="**password**" />
    <add key="CARD_ACCESSKEY_P4" value="**password**" />
    <!--Nạp Thẻ MobileSMS P2-->
    <add key="MobileSMS_URL" value="http://api.mobilesms.vn:8001/topupcard" />
    <add key="MobileSMS_USERNAME" value="**password**" />
    <add key="MobileSMS_PASSWORD" value="**password**" />
    <add key="MobileSMS_PRIVATEKEY" value="**password**" />
    <!--APP_FB_ID-->
    <add key="APP_FB_ID" value="**password**" />
    <!--Nạp Thẻ FconnClub-->
    <add key="FconnClub_URL" value="https://fconn.club/apiv2/card.php" />
    <add key="FconnClub_UID" value="**password**" />
    <add key="FconnClub_KEY" value="**password**" />
    <add key="FconnClub_CallBackUrl" value="https://napthe.sicbet.com/api/CardFcconnClub/CallBackResult?refkey={0}" />
    <!--Chặn chức năng hủy đổi thẻ (1 cho phep,0 chan )-->
    <add key="CARDSWAPCANCEL_APPROVED" value="1" />
    <!--Telegram Send Notify-->
    <add key="CHANGE_BALANCE_URL" value="https://outsitebtwork.sicbet.com/" />
    <add key="API_CHANGE_BALANCE" value="api/Notify/SendTeleNotify" />
    <add key="NPH_DL" value="**password**" />
    <!--Serivce ID-->
    <add key="SERVICE_ID" value="1" />
    <add key="DNA_PLATFORM" value="1" />
    <add key="TAIXIU_BASE" value="https://taixiuroots2.sicbet.com/api/TestRedis/ShowInfo" />
    <add key="TX_CLIENT" value="https://taixiu.sicbet.com/api/TestRedis/ShowInfo" />
    <add key="Encrypted" value="true" />
    <!--Tele token-->
    <add key="TOKEN_NOTIFY_TELE" value="6076876341:AAH5zEaGUqLqtw4OJoWyX5Lcsg8es99IkYA" />
    <!--VTT Length-->
    <add key="VTT_CardNumber_Length" value="13,15" />
    <add key="VTT_Seri_Length" value="11,14" />
    <!--VMS Length-->
    <add key="VMS_CardNumber_Length" value="12" />
    <add key="VMS_Seri_Length" value="15" />
    <!--VNP Length-->
    <add key="VNP_CardNumber_Length" value="12,14" />
    <add key="VNP_Seri_Length" value="12,14" />
    <!--Gate 2.Funny-->
    <add key="Gate2_EasyPay_CARD_CHARGING_URL" value="https://api.easypay.live/api/CardCallBack/CreateCardRequest/?" />
    <add key="Gate2_EasyPay_CARD_NCCCODE" value="**password**" />
    <add key="Gate2_EasyPay_CARD_GAMECODE" value="**password**" />
    <add key="Gate2_EasyPay_CARD_SECREATEKEY" value="**password**" />
    <add key="Gate2_EasyPay_CARD_ACCESSKEY" value="**password**" />
    <!--Nạp Thẻ Gate 2.FconnClub-->
    <add key="Gate2_FconnClub_URL" value="https://fconn.club/apiv2/card.php" />
    <add key="Gate2_FconnClub_UID" value="**password**" />
    <add key="Gate2_FconnClub_KEY" value="**password**" />
    <add key="Gate2_FconnClub_CallBackUrl" value="https://napthe2.sicbet.com/api/CardFcconnClubGate2/CallBackResult?refkey={0}" />
    <!--Gate 2.Nạp Thẻ NHANH p5-->
    <add key="Gate2_SHOPMUATHE_URl" value="https://apicard.nhanthe.shop/VPGJsonService.ashx" />
    <add key="Gate2_SHOPMUATHE_OFF" value="1" />
    <add key="Gate2_SHOPMUATHE_KEY" value="**password**" />
    <add key="Gate2_SHOPMUATHE_PARTNERCODE" value="**password**" />
    <add key="Gate2_SHOPMUATHE_CallBackUrl" value="https://napthe2.sicbet.com/api/CardThuMuaTheGate2/CallBackResult" />
    <!--Gate 3.Funny-->
    <add key="Gate3_EasyPay_CARD_CHARGING_URL" value="https://game-api.anhemgrab.club/api/CardCallBack/CreateCardRequest/?" />
    <add key="Gate3_EasyPay_CARD_NCCCODE" value="**password**" />
    <add key="Gate3_EasyPay_CARD_GAMECODE" value="**password**" />
    <add key="Gate3_EasyPay_CARD_SECREATEKEY" value="**password**" />
    <add key="Gate3_EasyPay_CARD_ACCESSKEY" value="**password**" />
    <!--Gate 3.Nạp Thẻ MobileSMS P2-->
    <add key="Gate3_MobileSMS_URL" value="http://api.mobilesms.vn:8001/topupcard" />
    <add key="Gate3_MobileSMS_USERNAME" value="**password**" />
    <add key="Gate3_MobileSMS_PASSWORD" value="**password**" />
    <add key="Gate3_MobileSMS_PRIVATEKEY" value="**password**" />
    <!--Gate 3.Nạp Thẻ NHANH p5-->
    <add key="Gate3_SHOPMUATHE_URl" value="https://apicard.nhanthe.shop/VPGJsonService.ashx" />
    <add key="Gate3_SHOPMUATHE_OFF" value="1" />
    <add key="Gate3_SHOPMUATHE_KEY" value="**password**" />
    <add key="Gate3_SHOPMUATHE_PARTNERCODE" value="**password**" />
    <add key="Gate3_SHOPMUATHE_CallBackUrl" value="https://napthe3.sicbet.com/api/CardThuMuaTheGate3/CallBackResult" />
    <!--Active VIP 3-->
    <add key="CARD_VIP_ACTIVE" value="0" />
    <!--Bank-->
    <!--End Bank-->
    <!--Momo Happy-->
    <add key="MOMO_GameCode" value="**password**" />
    <add key="MOMO_NccCode" value="**password**" />
    <add key="MOMO_SECRETKEY" value="**password**" />
    <!--End Momo happy-->
    <add key="MOMO_SHOPMUATHE_CallbackUrl" value="*******************" />
    <!--XBOM P3-->
    <add key="XBOOM_TOKEN" value="**password**" />
    <add key="XBOOM_URL" value="*******" />
    <add key="XBOOM_CallbackUrl" value="***************" />
    <add key="SMARTBANK_CALLBACK_BUY_ORDER" value="***************" />
    <add key="SMARTBANK_CALLBACK_SELL_ORDER" value="*******************" />
    <add key="SmartBank_Access_Token" value="**password**" />
	<!--BANK API Add by Roy -->
	<add key="QUIEN_API_KEY" value="a444271f115458cc2cb1f1893a6675a4" />
	<add key="QUIEN_PRIVATE_KEY" value="623c577ee5cee1952dee6cc6d40fb538" />
	<add key="QUIEN_BANK_CALLBACK_URL"          value="https://portal.navip1.com/api/BankV2/CallBackForQienGate" />
	<add key="QUIEN_MOMO_CALLBACK_URL"          value="https://portal.navip1.com/api/MomoV2/CallBackForQienGate" />
	<add key="QUIEN_VIETTEL_PAY_CALLBACK_URL"   value="https://portal.navip1.com/api/ViettelPayV2/CallBackForQienGate" />
	<add key="QUIEN_ZALO_CALLBACK_URL"          value="https://portal.navip1.com/api/ZaloPay/CallBackForQienGate" />
	<add key="QUIEN_CARD_CALLBACK_URL"          value="https://portal.navip1.com/api/Card/CallBackForQienGate" />
	  

	  <!--Charge config -->
	<add key="BANK_APPROVED" value="1" />
	<add key="CASHOUT_BANK_APPROVED" value="1" />
	<add key="MOMO_APPROVED" value="1" />
	<add key="CASHOUT_MOMO_APPROVED" value="1" /> 
	<add key="VIETTELPAY_APPROVED" value="1" />
	<add key="CASHOUT_VIETTELPAY_APPROVED" value="1" />
	<add key="ZALO_APPROVED" value="1" />
	<add key="CASHOUT_ZALO_APPROVED" value="1" />
	<add key="CARD_APPROVED" value="1" />
	<add key="CASHOUT_CARD_APPROVED" value="1" />  
	<add key="RUN_PORTAL_HANDLER" value="0" />

	<add key="CASHOUT_TELEGRAM_GROUP_CHAT_ID" value="-4018117450" />
	  


  </appSettings>
  <connectionStrings>
    <add name="BettingConn" connectionString="Data Source=194.233.82.17;Initial Catalog=BettingGameCore;Persist Security Info=True;User ID=sa;Password=letmein@2023@#" />
    <add name="BettingLogConn" connectionString="Data Source=194.233.82.17;Initial Catalog=BettingGameCore.History;Persist Security Info=True;User ID=sa;Password=letmein@2023@#" />
    <add name="BettingEventDBConn" connectionString="Data Source=194.233.82.17;Initial Catalog=eBankGame.EventDB;Persist Security Info=True;User ID=sa;Password=letmein@2023@#" />
  </connectionStrings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5.2" />
      </system.Web>
  -->
  <system.web>
    <machineKey decryption="AES" decryptionKey="A7400E00AC9D0A870B9EB9F58423671E8A2AA6ADEF45FE1A" validation="SHA1" validationKey="E3EB3051FBADCF76D8904BAF2627020BD954D5B1B547631912EEE4B4686B11C5DDA956F67F11167B5E5645D5A3DAC89A8F58F88ECDB6E0FF9D61545829A2BC1E" />
    <authentication mode="Forms">
      <forms name=".sicbet.com" protection="All" timeout="1000" cookieless="UseCookies" slidingExpiration="false" />
    </authentication>
    <compilation debug="true" targetFramework="4.7" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <system.webServer>
	<httpErrors errorMode="Detailed" />
    <staticContent>
      <remove fileExtension=".woff2" />
      <mimeMap fileExtension=".woff2" mimeType="font/woff2" />
    </staticContent>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.6.0" newVersion="5.2.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.6.0" newVersion="5.2.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.0.0" newVersion="2.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Cors" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.6.0" newVersion="5.2.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="sendPortBinding" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://210.211.109.118:80/apibrandname/send" binding="basicHttpBinding" bindingConfiguration="sendPortBinding" contract="SendSmsServices.send" name="sendPort" />
    </client>
  </system.serviceModel>
</configuration>