@using MsWebGame.CSKH.Controllers
<table style="width: 100%;">
   <tbody>
      <tr>
         <td class="adminTitle">
            <img src="/Content/images/ico-help.gif">
             Số điện thoại
         </td>
         <td class="adminData">
             <input type="text" name="phone" value="" />
         </td>
      </tr>
      <tr>
         <td class="adminData"></td>
         <td class="adminData">
            <input onclick="GlobalHeader.submitFormConfigLive(this)" type="button" id="btnComplainAdd" class="t-button" value="Cấu Hình">
         </td>
      </tr>
   </tbody>
</table>