<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="MsWebGame.CSKH.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="BettingConn" connectionString="Data Source=localhost;Initial Catalog=BettingGameCore;Persist Security Info=True;User ID=sa;Password=@Aa12345" />
    <add name="BettingLogConn" connectionString="Data Source=localhost;Initial Catalog=BettingGameCore.History;Persist Security Info=True;User ID=sa;Password=@Aa12345" />
    <add name="VqmmConn" connectionString="Data Source=localhost;Initial Catalog=eBankGame.LuckySpin;Persist Security Info=True;User ID=sa;Password=@Aa12345" />
    <add name="VqmmLogConn" connectionString="Data Source=localhost;Initial Catalog=Webgame.LuckySpin.History;Persist Security Info=True;User ID=sa;Password=@Aa12345" />
    <add name="EmulatorConn" connectionString="Data Source=localhost;Initial Catalog=EmulatorGame;Persist Security Info=True;User ID=sa;Password=@Aa12345" />
    <add name="LuckyDiceConn" connectionString="Data Source=localhost;Initial Catalog=eBankGame.LuckyDiceDB;Persist Security Info=True;User ID=sa;Password=@Aa12345" />
    <add name="LuckyDiceLogConn" connectionString="Data Source=localhost;Initial Catalog=Webgame.LuckyDice.History;Persist Security Info=True;User ID=sa;Password=@Aa12345" />
    <add name="XoSoConn" connectionString="Data Source=localhost;Initial Catalog=eBankGame.Lottery;Persist Security Info=True;User ID=sa;Password=@Aa12345" />
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="CHOSAOURL_IMG_URL" value=" http://192.168.0.109:8090/Uploads/" />
    <add key="SERVICEIDS" value="TQ" />
    <add key="REQUEST_URL" value="https://chat.live69.tv/" />
    <add key="AGENCY_TOTAL" value="tongdaily" />
    <add key="allowedIPs" value="*" />
    <add key="USERNAME24H" value="QYs4HfyKCndYyWiVddefwFcd7qZ8XaacXXEl9TRm8Zw=" />
    <add key="PASSWORD24H" value="ylG8IYcuqA5/l9DgXCpogQ==" />
    <add key="OTP_SMSMobile_URL" value="http://sms.mobiservices.vn/smsapi/sendmt" />
    <add key="OTP_SMSMobile_User" value="cp_daiphong" />
    <add key="OTP_SMSMobile_PASSWORD" value="a04dd0a210d51d1ff1bbd9e6d45780b5" />
    <add key="OTP_SMSMobile_BRANCHNAME" value="DAUSO2" />
    <add key="ID_SENDS_TELE" value="" />
    <add key="ID_SENDS_TELE_PRE_MONEY" value="" />
    <add key="CHANGE_BALANCE_URL" value="https://cskh.live69.tv/" />
    <add key="API_CHANGE_BALANCE" value="api/Notify/SendTeleNotify" />
    <add key="Limit_Feedback" value="100000" />
    <add key="ServiceID" value="1" />
    <add key="DNA_PLATFORM" value="1" />
    
    <add key="Encrypted" value="false" />

    <!--Bank-->

    <add key="CALLBACK_BUY_ORDER" value="https://napthe.live69.tv/api/BankCharge/CallBackResult" />
    <add key="EMAIL_BANK" value="mrsvanh30@gmail.com" />
    <add key="ReceiveUsdtAddress" value="167N8kVspq7A5Y7XqXSbKigVJvSb9mnEA9" />
    <add key="Access_Token" value="12a37086ae04efceb05ef6ca8b5c036b29f8b7aa" />
    <add key="CALLBACK_SELL_ORDER" value="https://napthe.teamtinhban.club/api/BankExchange/CallBackResult" />

    <!--redis config-->
    <add key="redis_host" value="localhost" />
    <add key="redis_port" value="6379" />
    <add key="redis_password" value="" />
    <add key="redis_database" value="1" />
    <!--End Bank-->
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5.2" />
      </system.Web>
  -->
  <system.web>
    <sessionState mode="SQLServer" sqlConnectionString="Database=CskhSession;Data Source=localhost;user id=sa;password=@Aa12345" cookieless="false" allowCustomSqlDatabase="true" timeout="20" />
    <authentication mode="None" />
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5" />
    <httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" />
    </httpModules>
    <pages>
      <namespaces>
        <add namespace="Telerik.Web.Mvc.UI" />
      </namespaces>
    </pages>
    <httpHandlers>
      <add verb="GET,HEAD" path="asset.axd" validate="false" type="Telerik.Web.Mvc.WebAssetHttpHandler, Telerik.Web.Mvc" />
    </httpHandlers>
    <customErrors mode="Off" />
  </system.web>
  <system.webServer>
    <modules>
      <remove name="FormsAuthentication" />
      <remove name="ApplicationInsightsWebTracking" />
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler" />
    </modules>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <remove name="asset" />
      <add name="asset" preCondition="integratedMode" verb="GET,HEAD" path="asset.axd" type="Telerik.Web.Mvc.WebAssetHttpHandler, Telerik.Web.Mvc" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="ICSharpCode.SharpZipLib" publicKeyToken="1b03e6acf1164f73" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.86.0.518" newVersion="0.86.0.518" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>

  <applicationSettings>
    <MsWebGame.CSKH.Properties.Settings>
      <setting name="MsWebGame_CSKH_vn_muathe24h_MechantServices" serializeAs="String">
        <value>https://muathe24h.vn/MechantServices.asmx</value>
      </setting>
    </MsWebGame.CSKH.Properties.Settings>
  </applicationSettings>
</configuration>