@using MsWebGame.CSKH.Utils
@{
    ViewBag.Title = "Thêm mới thẻ cào";
}
@model MsWebGame.CSKH.Models.Cards.CardModel
@using (Html.BeginForm())
{
    <div class="section-header">
        <div class="title">
            <img src="@Url.Content("~/Content/images/ico-promotions.png")" alt="" />
            @AppConstants.CONFIG.ADD_NEW
        </div>
        <div class="options">
            <a href="@Url.Action("Index")" class="t-button">Quay lại</a>
        </div>
    </div>
    <div class="t-widget t-tabstrip t-header">
        @Html.Partial("_CreateOrUpdate", Model)
    </div>
}